<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <head>
            <div>
                <h1 class="Random1">NO MORE FRAMES</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo eaque enim ipsum, voluptate id cum tempore praesentium nihil, earum ex inventore velit. Qui quia sed eaque aut, placeat provident facilis.</p>
            </div>
        </head>
    </nav>






    <main>

    </main>







    <footer>

    </footer>






</body>
</html>